<!DOCTYPE html>
<html lang="en">

<head>
  <title>US COVID-19 Dashboard</title>
</head>

<body>
  <form action="/">

    <select name="state" onchange="updateSelected(event)" method="GET" action="/">
      <option value="{{states[0]}}" selected>{{states[0]}}</option>
      {% for state in states[1:] %}
        <option value="{{state}}">{{state}}</option>
      {% endfor %}
    </select>



  
  <script>
    function updateSelected(event) {
        document.getElementById('res').innerHTML = 'Your selected score : ' + event.target.value;
    }
  </script>

</body>

</html>
