<!DOCTYPE html>
<html lang="en">

<head>
  <title>US COVID-19 Dashboard</title>
</head>

<body>
  <form action="/">

    <select name="state" method="GET" action="/">
      <option value="{{states[0]}}" selected>{{states[0]}}</option>
      {% for state in states[1:] %}
        <option value="{{state}}">{{state}}</option>
      {% endfor %}
    </select>



  </form>

<!--   <p>
    Selected State:
    {% for p in prediction %}
      <br>  {{p['name']}}:{{ (100*p['prob']) | round(2) }}% 
    {% endfor %}
  </p> -->

</body>

</html>
